@use "../variables" as vars;
@use "../utils/functions" as func;

//Utilities
.utext--primary {
    color: vars.$color-kioto-text;
}

.utext--secondary {
    color: vars.$color-kioto-secondary;
}

.utext--subtitle {
    color: vars.$color-kioto-subtitle;
}

.utext--title {
    color: vars.$color-kioto-title;
}

.utext--center {
  text-align: center;
}

.utext--justify {
  text-align: justify;
}

.utext--right {
  text-align: right;
}

.ucolor--white{
    color: vars.$color-white;
}

.useparator--horizontal {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 1rem 0; 
    position: relative;
    overflow: visible;
    width: 70%;
    margin: 1rem auto;
    
    &::after {
        content: ""; 
        display: block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: vars.$color-kioto-secondary;
        border: 3px solid vars.$color-sakura-light;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
    }
}

/* ================================== */
/* SEPARADOR Tematico con CLIP-PATH SVG*/
/* ================================== */


.useparator-kioto--horizontal {
    border: none;
    height: 1px;
    margin: 3rem auto; 
    position: relative;
    width: 90%;
    z-index: 1;
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        background: linear-gradient(
            to right, 
            vars.$color-sakura-dark, 
            vars.$color-sakura-light 50%, 
            vars.$color-sakura-dark
        );
        
        mask-image: repeating-linear-gradient(
            45deg, 
            transparent 0 5px, 
            rgba(255, 255, 255, 0.2) 5px 10px, 
            transparent 10px 15px
        );
        mask-size: 100% 100%;

    }
    
    height: 50px; 
    overflow: visible;

    .center-clip-shape {
        background-color: vars.$color-accent; 
        
        width: 40px; 
        height: 40px; 
        position: absolute;
        top: 50%; 
        left: 50%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        z-index: 2;
        clip-path: url(#center-flower-clip);
        animation: pulseAndSpin 15s ease-in-out infinite alternate,
                   colorChange 15s ease-in-out infinite alternate; 
        transform: translate(-50%, -50%);
    }
}

.uimg--large {
  width: 100%;
  height: auto;
  border-radius: func.rem(15);
  box-shadow: 0 func.rem(4) func.rem(10) rgba(0, 0, 0, 0.15);
}

.is-disabled{
    pointer-events: none;
}