@use "../variables" as vars;
@use "../utils/functions" as func;

//Utilities
.utext--primary {
    color: vars.$color-kioto-text;
}

.utext--secondary {
    color: vars.$color-kioto-secondary;
}

.utext--subtitle {
    color: vars.$color-kioto-subtitle;
}

.utext--title {
    color: vars.$color-kioto-title;
}

.utext--center {
  text-align: center;
}

.utext--justify {
  text-align: justify;
}

.utext--right {
  text-align: right;
}

.ucolor--white{
    color: vars.$color-white;
}

.useparator--horizontal {
    width:70%;
    margin:auto;
}

.uimg--large {
  width: 100%;
  height: auto;
  border-radius: func.rem(15);
  box-shadow: 0 func.rem(4) func.rem(10) rgba(0, 0, 0, 0.15);
}

// .uimg--rounded {
//     float: left;
//     padding-right: 1.5rem;
//     border-radius: 50%;
//     shape-outside: circle();
// }

.is-disabled{
    pointer-events: none;
}