@use "../variables" as *;
@use "../utils/functions" as func;

/* ================================== */
/* ANIMACIÓN CSS Pétalos de Sakura */
/* ================================== */

@keyframes fallAndSpin {
    0% { 
        transform: translateY(-50px) rotate(0deg) scale(0.8); 
        opacity: 0; 
    }
    10% {
        opacity: 0.9;
    }
    100% { 
        transform: translateY(150vh) rotate(600deg) scale(0.8); 
        opacity: 0; 
    }
}

.animated-svg {
    position: absolute; 
    top: -50px;
    width: 25px; 
    height: 25px;
    z-index: 10;
    pointer-events: none; 
    animation: fallAndSpin linear infinite;
}

// PETALO 1 
#sakura-petal-1 {
    left: 10%; 
    animation-duration: 15s;
    animation-delay: 0s;
}

// PETALO 2 
#sakura-petal-2 {
    left: 65%; 
    animation-duration: 8s;
    animation-delay: 3s;
}

// PETALO 3 
#sakura-petal-3 {
    left: 5%; 
    animation-duration: 15s;
    animation-delay: 6s;
}

// PETALO 4
#sakura-petal-4 {
    left: 30%; 
    animation-duration: 10s;
    animation-delay: 8s;
}

// PETALO 5 
#sakura-petal-5 {
    left: 90%; 
    animation-duration: 7s;
    animation-delay: 1s;
}

// PETALO 6
#sakura-petal-6 {
    left: 50%; 
    animation-duration: 11s;
    animation-delay: 5s;
}

/* ================================== */
/* KEYFRAMES Animación del separador */
/* ================================== */

@keyframes pulseAndSpin {
    0% {
        transform: translate(-50%, -50%) scale(0.8) rotate(0deg);
    }
    
    50% {
        transform: translate(-50%, -50%) scale(1) rotate(180deg);
    }
    
    100% {
        transform: translate(-50%, -50%) scale(0.8) rotate(360deg);
    }
}

@keyframes colorChange {
    0% {
        background-color: $color-accent;
    }
    50% {
        background-color: $color-sakura-light; 
    }
    100% {
        background-color: $color-accent;
    }
}

@keyframes colorChangeInverse {
    0% {
        background-color: $color-sakura-light;
    }
    50% {
        background-color:  $color-accent;
    }
    100% {
        background-color: $color-sakura-light;
    }
}

@keyframes travel-left {
    0% { 
        transform: translate(-50%, -50%) scale(0.8) rotate(0deg); 
        left: 50%; 
        opacity: 1; 
    }
    50% { opacity: 0.5; }
    75% { opacity: 0.1; } 
    100% { 
        transform: translate(-50%, -50%) scale(0.6) rotate(-360deg); 
        left: 0%; 
        opacity: 0; 
    }
}

@keyframes travel-right {
    0% { 
        transform: translate(-50%, -50%) scale(0.8) rotate(0deg); 
        left: 50%; 
        opacity: 1; 
    }
    50% { opacity: 0.5; }
    75% { opacity: 0.1; }
    100% { 
        transform: translate(-50%, -50%) scale(0.6) rotate(360deg); 
        left: 100%; 
        opacity: 0; 
    }
}

/* ================================== */
/* KEYFRAMES Logo PNG*/
/* ================================== */

@keyframes logo-pulse {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }
    50% {
        transform: scale(1.05);
        opacity: 0.9;
    }
    100% {
        transform: scale(1);
        opacity: 0.5;
    }
}