@use "../variables" as vars;
@use "../utils/functions" as func;

.cat-main-grid {
   display: block;
max-width: 99vw;
    @media (min-width: vars.$mq-desktop-width) { 
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: func.rem(16);
        align-items: start;
    }
          
}

.cat-card__side-menu{
    height: auto;
    font-size: 2rem;
    background-color: vars.$color-kioto-container; 
    border-radius: 0.5rem;  
    box-shadow: 0 func.rem(4) func.rem(6) func.rem(-1) rgba(0, 0, 0, 0.5),
                0 func.rem(10) func.rem(4) func.rem(-1) rgba(0, 0, 0, 0.1);  
    clip-path: vars.$clip-path-octogon;
    @media (min-width: vars.$mq-desktop-width) {
        position: sticky;

        z-index: 1000;
        align-self: start; 
        height: auto;
        margin-top: 2.5rem;
        font-size: 1rem;

    }

}

.cat-menu__link{
    display: block;
    margin: func.rem(12);
    font-size: 1.1rem;
    color: vars.$color-kioto-text;
    text-decoration: none; 
    transition: color 0.3s ease;
    &:hover {
        color: vars.$color-kioto-secondary; 
    }
    
    &:active {
        color: vars.$color-kioto-secondary; 
    }
    
    @media (min-width: vars.$mq-desktop-width) {
        font-size: 1rem;
    }

}

.cat-menu__list{
    display: block;
    padding: 1rem 1rem;
    list-style: none;

    :hover{
        background-color: vars.$color-kioto-light-bg;
    }

}

.cat-menu__item{
    padding: func.rem(15);
    font-weight: 600;
    line-height: 1.6;
}

.cat-content{
    width: 100%;
    padding:func.rem(0);
}

.cat-right-column__content {
    display: flex;
    flex-direction: column;
    gap: func.rem(30);
    background-color: vars.$color-kioto-bg;

    @media (min-width: vars.$mq-desktop-width) { 
        display: flex;
        flex-direction: column;
        align-items: stretch; 
        max-width: none;
        font-size: 1rem;
    }
}

.cat-card{
    position: relative;
    padding: func.rem(10);
    background-color: vars.$color-kioto-container;
    border-radius: func.rem(2);
    box-shadow: 0 func.rem(4) func.rem(6) func.rem(-1) rgba(0, 0, 0, 0.5),

}


.cat-card__header{
    display: flex;
    align-items: center;
    padding: func.rem(10) func.rem(10);
    

}

.cat-card__title-text{
     font-size: clamp(1rem, 1vw, 1.5rem);
     color: vars.$color-kioto-title;
}

.cat-card__image{
    width: 100%;
    object-fit: cover;
    border-radius: func.rem(5);
    box-shadow: 0 func.rem(4) func.rem(10) rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;

    mask-image: linear-gradient(
        to bottom right, 
        transparent 0%,    // Esquina Superior Izquierda (Transparente)
        black 30%,         // Comienza a ser visible
        black 80%,         // La mayor parte de la imagen es visible (negro = visible)
        transparent 100%   // Esquina Inferior Derecha (Transparente)
    );
    &:hover {
        box-shadow: 0 func.rem(8) func.rem(16) rgba(0, 0, 0, 0.2);
        transform: translateY(func.rem(-5)) scale(1.02) 
    }
    @media (min-width: vars.$mq-desktop-width) {
        width: 100%; 
        height: func.rem(250);
    }
}

.cat-card__text{
    font-size: func.rem(14);
    line-height: 1.6;
    color: vars.$color-kioto-text;
    @media (min-width: vars.$mq-desktop-width) { 
        font-size: func.rem(14);
    }
}

.cat-card__link{
    font-size: func.rem(20);
    color: vars.$color-kioto-title;
    text-decoration: none; 
    transition: color 0.3s ease;

    &:hover {
        color: vars.$color-kioto-secondary; 
    }
    
    &:active {
        color: vars.$color-kioto-secondary; 
    }
    
    @media (min-width: vars.$mq-desktop-width) {
        font-size: func.rem(16);
    }
}

.cat-details__content{
    visibility:hidden;

}

.cat-details-collapsable {
    position: relative;
    max-height: 0;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease-out, opacity 0.4s ease-out;
}

.cat-details-collapsable-is-open{
    max-height: func.rem(500);
    padding-right: 1rem;
    padding-left: 1rem; 
    opacity: 1;
        transition: max-height 0.4s ease-out, opacity 0.4s ease-out;

}

.cat-details-toggle-btn {
    position: relative;
    z-index: 2000; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: func.rem(30);
    height: func.rem(30);
    margin-top: func.rem(0);
    margin-right: func.rem(10);
    font-weight: 600;
    color: vars.$color-kioto-container;
    cursor: pointer;
    background-color:rgba(255, 81, 81, 0.4);
    border: func.rem(1) solid rgba(255, 162, 162, 0.6);
    border-radius: func.rem(50);
    box-shadow: 0 func.rem(1) func.rem(4) rgba(255, 81, 81, 0.3);
    transition: background-color 0.2s;

    &:hover {
        background-color: vars.$color-kioto-secondary;
    }

    &__icon {
        display: block;
        font-size: func.rem(20);
        font-weight: bold;
        line-height: 1;
        color: vars.$color-white;
        transition: transform 0.3s ease; 
         @media (min-width: vars.$mq-desktop-width) {
      
            font-size: func.rem(20);
         }
    }

    @media (min-width: vars.$mq-desktop-width) {
        width: func.rem(20);
        height: func.rem(20);
        
    }
}

.cat-grid-group {
    padding-bottom: func.rem(20);
}


.cat-grid-group__title {
    padding-left: func.rem(10); 
    margin-bottom: func.rem(10);
    font-size: func.rem(30);
    font-weight: 700;
    color: vars.$color-kioto-container;
    text-shadow: 0 0 func.rem(5) rgba(0, 0, 0, 0.5),
                 0 0 func.rem(1) rgba(0, 0, 0, 0.8);
    @media (min-width: vars.$mq-desktop-width) { 
        font-size: func.rem(30);
    }
}

.cat-grid-group__content {
    display: flex;
    flex-direction: column;
    gap: func.rem(16);
    margin-top: func.rem(15);

    @media (min-width: vars.$mq-desktop-width) { 
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(3, 1fr);
        gap: func.rem(16);
        align-items: start;
        font-size: 1rem;
    }
}
