@use "../variables" as vars;
@use "../utils/functions" as func;
@use "sass:color";

.main-footer {
    display: block;
    width: 100%;
    padding: func.rem(5) 0; 
    margin-top: func.rem(50); 
    color: vars.$color-kioto-text;
    background: linear-gradient(180deg, vars.$color-kioto-bg, 20%, vars.$color-kioto-bg-gradient, 80%)
}

.kioto-footer__container {
    max-width: 100vw;
    padding: 2rem;
    margin-top: 1rem;
    text-align: center;
    background-color: vars.$color-kioto-container;
    border-radius: 1rem;
    box-shadow: func.rem(4) func.rem(4) func.rem(6) func.rem(-1) rgba(0, 0, 0, 0.5),
                func.rem(4) func.rem(8) func.rem(8) func.rem(-1) rgba(0, 0, 0, 0.1);
    opacity:1;
                transition: max-height 0.4s ease-out, opacity 0.4s ease-out; 
}

.kioto-footer__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: func.rem(30);
    padding-top: func.rem(20);
        
    @media (min-width: vars.$mq-desktop-width) {
        grid-template-columns: 1.5fr 1fr 1fr;
    }
}

.kioto-footer__logo--img{
    display: block;
    align-items: center;
    opacity: 0.5;
    @media (min-width: vars.$mq-desktop-width) { 
        display: none; 
    }
}

 .kioto-footer__title {
    padding-bottom: func.rem(5);
    margin-top: 0;
    margin-bottom: func.rem(10);
    font-size: 1.8rem;
    font-weight: bold;
    color: vars.$color-kioto-text; 
    border-bottom: func.rem(1) solid rgba(255, 255, 255, 0.3); 
}

.kioto-footer__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.kioto-footer__link {
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1.2;
    color: vars.$color-kioto-blue-link; 
    text-decoration: none;     
    transition: color 0.3s ease;

    &:hover {
        color: vars.$color-kioto-secondary; 
    }

    @media (min-width: vars.$mq-desktop-width) { 
        font-size: 1rem;     
    }
}

.kioto-footer__text {
    font-size: func.rem(24);
    opacity: 0.8;
    @media (min-width: vars.$mq-desktop-width) { 
        font-size: 1rem;     
    }
}

.kioto-footer-brand__container--centered{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: baseline;
    justify-content: center;
    margin-top: 0;
}

.kioto-footer-brand__container--centered p {
  padding: 0;
  margin: 0;
}

.kioto-footer__brand-text--primary{
    font-size: func.rem(48);
    font-weight: bold;
    color: vars.$color-kioto-title;

    @media (min-width: vars.$mq-desktop-width) {
        font-size: func.rem(36);
    }
    
}

.kioto-footer__horizontal-separator {
    width:60%;
    margin:auto;

    @media (min-width: vars.$mq-desktop-width) {
        display: none;
    }
}


.kioto-footer__brand-text--secondary{
    padding: func.rem(10) ;
    font-size: 2rem;
    font-weight: bold;
    color: vars.$color-kioto-secondary;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: vars.$color-kioto-title; 
    }
    
    @media (min-width: vars.$mq-desktop-width) {
        font-size: func.rem(24);
    }
}

.kioto-footer__credits {
    font-size: 1rem;
    color: vars.$color-kioto-title;
    opacity: 0.7;
}

.kioto-footer__text-legal{
    font-size: func.rem(14);
    line-height: 1.4;
    @media (min-width: vars.$mq-desktop-width) {
          font-size: func.rem(14);
    }
}

.kioto-footer__credits-link {
    line-height: 1.2;
    color: vars.$color-kioto-title; 
    text-decoration: underline;
    &:link,
    &:visited,
    &:hover,
    &:active {
        color: vars.$color-kioto-secondary;
    }
}