@use "../variables" as vars;
@use "../utils/functions" as func;

/* ---------------------------------- */
/* HEADER*/
/* ---------------------------------- */

.main-header {
    position: fixed;
    top: 0;
    z-index: 3000;
    width: 100%;
    background-color: vars.$color-kioto-container; 
    border-bottom: func.rem(2) solid vars.$color-kioto-bg;
    border-radius: func.rem(10);
    box-shadow: 0 func.rem(4) func.rem(10) func.rem(-4) rgba(0, 0, 0, 0.2);

}

.main-nav {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding-right: func.rem(20);
    padding-left: func.rem(20);

    @media (min-width: vars.$mq-desktop-width) {
        flex-wrap: wrap ; // por si en algun momento no toma bien el tamaño en vista escritorio
    }
    
}
.main-nav__brand{
    display: flex; 
    align-items: center;
    justify-content: space-between;

}
.main-nav__left {
    justify-content: flex-start;
}

.main-nav__right {
    justify-content: flex-end; 
}

.main-nav__title {
    display: flex;
    align-items:first baseline;
    padding: 0 2rem;
    margin: 0;
    font-family: vars.$font-family-sans-serif;
    text-decoration: none;
}

.title__text--primary{
    font-size: func.rem(26);
    font-weight: bold;
    color: vars.$color-kioto-title;

    @media (min-width: vars.$mq-desktop-width) {
        font-size: func.rem(36);
    }
    
}

.title__text--secondary{
    padding: func.rem(5) ;
    font-size: func.rem(20);
    font-weight: bold;
    color: vars.$color-kioto-secondary;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: vars.$color-kioto-title; 
    }
    
    @media (min-width: vars.$mq-desktop-width) {
        font-size: func.rem(24);
    }
}

.main-nav__logo {
    width: func.rem(60); 
    height: auto;
    font-size: func.rem(24);
    font-weight: bold;
    color: vars.$color-kioto-blue;
    text-decoration: none;
    border-radius: 50%;
            box-shadow: 0 0 0 transparent;          //pruebas de transicion y destello
    transition: 
            box-shadow 0.4s ease-in-out,            //pruebas de transicion y destello
            transform 0.4s ease-in-out;             //pruebas de transicion y destello
    &:hover {//todo no me convence esta idea
        box-shadow: 0 0 func.rem(1) vars.$color-kioto-secondary, 
                    0 0 func.rem(30) rgba(vars.$color-kioto-secondary, 0.5); 
    }
    @media (min-width: vars.$mq-desktop-width) {
        width: func.rem(100); 
        height: auto;
    }
}

.main-nav__toggle {
    display: block; 
    padding: 1rem;
    font-size: func.rem(30);
    color: vars.$color-kioto-blue;
    cursor: pointer; 
    background: none;
    border: none;

    &:hover {
        color: vars.$color-kioto-secondary; 
    }

    @media (min-width: vars.$mq-desktop-width) {
        display: none; 
    }
}

.main-nav__logo2 {
    height: 100px; 
    width: auto;
}

.main-nav__logo2 * {
    /* Estado inicial: Gris. */
    filter: grayscale(1); 
    
    /* ¡CORRECCIÓN! Combinar transiciones en una sola línea. */
    /* Tiempo para que el color vuelva (filter) y para que se complete la rotación (transform) */
    transition: 
        filter 2.0s ease-in-out,
        transform 1.0s ease-in-out;
    
    /* Definir el origen de transformación para evitar saltos */
    transform-origin: center center;
}
.main-nav__logo2 path {
    filter: grayscale(1); 
    transition: filter 2.0s ease-in-out, transform 1.0s ease-in-out;
}
/* -------------------------------------- */
/* 2. HOVER: LA ACCIÓN y la SECUENCIA */
/* -------------------------------------- */

/* Define la acción de colorear y rotar para TODOS los elementos a animar */
.main-nav__logo2:hover #sky *,
.main-nav__logo2:hover #mountain *,
.main-nav__logo2:hover #clouds *,
.main-nav__logo2:hover #sun *,
.main-nav__logo2:hover #sakura-1 *,
.main-nav__logo2:hover #sakura-2 *, 
.main-nav__logo2:hover #petal-1 *, 
.main-nav__logo2:hover #flower-5 * {
    /* La acción: Mostrar color original */
    filter: grayscale(0); 
}

/* La acción: Rotar los sakuras */
.main-nav__logo2:hover #sakura-1 *,
.main-nav__logo2:hover #sakura-2 *,
.main-nav__logo2:hover #sakura-3 *,
.main-nav__logo2:hover #sakura-4 *,
.main-nav__logo2:hover #sakura-5 * {
    transform-origin: center center;
    transform: rotate(360deg);
}
.main-nav__logo2 #petal-2,
.main-nav__logo2 #petal-3 {
    transform-origin: center center;
    animation: 
        caida-petal 
        3s 
        ease-in-out 
        infinite 
        alternate;
    /* Retraso para iniciar la animación después de que el primer pétalo haya comenzado */
    animation-delay: 1.5s; 
}

.main-nav__logo2 #petal-1 {
    /* Define el punto de origen de la transformación para evitar saltos raros */
    transform-origin: center center;
    
    /* Aplicar la animación de caída suave */
    animation: 
        caida-petal 
        3s          /* Duración de 3 segundos (para un movimiento lento) */
        ease-in-out /* Curva de velocidad (suave al inicio/fin) */
        infinite    /* La animación se repite sin parar */
        alternate;  /* Invierte la dirección en cada ciclo (va y viene) */
}
/* -------------------------------------- */
/* 3. APLICACIÓN DE RETRASOS SECUENCIALES (transition-delay) */
/* La animación se encenderá en este orden, creando la secuencia. */
/* -------------------------------------- */

/* FASE 1: Fondo (Rápido) */
.main-nav__logo2:hover #sky path { filter: grayscale(0); transition-delay: 0s; }
.main-nav__logo2:hover #clouds path {filter: grayscale(0);  transition-delay: 0.1s; }
.main-nav__logo2:hover #sun path{ filter: grayscale(0);  filter: grayscale(0); transition-delay: 0.2s; }

/* FASE 2: Paisaje principal */
.main-nav__logo2:hover #mountain * { transition-delay: 0.4s; }

/* FASE 3: Flores (Rotación y Color) */
.main-nav__logo2:hover #petal-1 * { transition-delay: 0.6s; }
.main-nav__logo2:hover #sakura-1 * { transition-delay: 0.7s; } /* Rotará y se coloreará a 0.7s */
.main-nav__logo2:hover #sakura-2 * { transition-delay: 0.8s; } /* Rotará y se coloreará a 0.8s */
.main-nav__logo2:hover #flower-5 * { transition-delay: 0.9s; }

.main-nav__list { 
    position: absolute;
    top: 100%; 
    left: 0;
    display: none;
    flex-direction: column; 
    width: 100%;
    padding: 0;
    margin: 0; 
    list-style: none;
    background-color: vars.$color-kioto-container;
    box-shadow: func.rem(5) func.rem(10) func.rem(10) func.rem(-2) rgba(0, 0, 0, 0.5);

    @media (min-width: vars.$mq-desktop-width) {
        position: static; 
        display: flex; 
        flex-direction: row; 
        width: auto;
        box-shadow: none;
    }
}

.main-nav__list--is-open {
    display: flex;
    margin-top: func.rem(5);
    border-radius: func.rem(5) func.rem(5) func.rem(10) func.rem(10);
    @media (min-width: vars.$mq-desktop-width) {
        display: flex; 
    }
}

.main-nav__item {
    position: relative;
    width: 100%;
    font-family: vars.$font-family-sans-serif;
    font-size: func.rem(12);
    font-weight: 600;
    border-bottom: func.rem(1) solid vars.$color-kioto-grey-light;
    &::after {
        content: none;
    }

    @media (min-width: vars.$mq-desktop-width) {
        width: auto;
        padding: 0 1rem;
        border-bottom: none; 

        &:not(:last-child)::after {
            position: absolute;
            top: 50%;
            right: 0; 
            font-size: func.rem(24);
            color: vars.$color-kioto-grey-light;
            content: '|'; 
            transform: translateY(-50%); 
        }
    }
}

.main-nav__link {
    display: block;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    color: vars.$color-kioto-text;
    text-decoration: none; 
    transition: color 0.3s ease;

    &:hover {
        color: vars.$color-kioto-secondary; 
    }
    
    &:active {
        color: vars.$color-kioto-secondary; 
    }
    @media (min-width: vars.$mq-desktop-width) {
        font-size: 1.2rem;
    }
}