@use "../variables" as vars;
@use "../utils/functions" as func;


*,
*::before,
*::after {
    box-sizing: border-box;
}

.kioto-body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0rem;
    margin: 0px;
    font-family: vars.$font-family-sans-serif;
    font-size: func.rem(18);
    color: vars.$color-kioto-text;
    background-color: vars.$color-kioto-bg;
    padding-top: func.rem(100);

    @media (min-width: vars.$mq-min-width) {
        max-width: none;
        padding: 0.2rem;
        padding-top: func.rem(100);
    }
}

.kioto-container-portada {
    max-width: 98vw;
    padding: 0 ;
    margin-top: 1rem;
    text-align: center;
    background-color: vars.$color-kioto-container;
    border-radius: 0.5rem;
    box-shadow: 0 func.rem(4) func.rem(6) func.rem(-1) rgba(0, 0, 0, 0.5),
                0 func.rem(10) func.rem(4) func.rem(-1) rgba(0, 0, 0, 0.1);   
    
    clip-path: vars.$clip-path-octogon;

    @media (max-width: 600px) {
        clip-path: none; 
        max-width: 99vw;
        margin: 1rem auto;
    }              

}

.kioto-title__text{
    padding-top: 0.5rem;
    font-family: vars.$font-family-serif;
    font-size: func.rem(24);
    font-weight: 700;
    color: vars.$color-kioto-title;
    
    @media (min-width: vars.$mq-min-width) {
        font-size: func.rem(36);
    }
}

.kioto-subtitle__text{
    padding-top: 0rem;
    font-family: vars.$font-family-serif;
    font-size: func.rem(24);
    font-weight: 700;
    color: vars.$color-kioto-subtitle;
    padding-left: 10px;
    padding-right: 10px;
    @media (min-width: vars.$mq-min-width) {
        font-size: func.rem(24);
    }
}


.kioto-content-block {
    padding: 1rem;
}
 
.kioto-content-block--centered{
    max-width: 900px;
    margin: 0 auto;
    iframe {
        width: 100%;
        height: func.rem(250); 
        max-width: 100%;
        
        @media (min-width: vars.$mq-desktop-width) { 
             height: func.rem(520);
        }
    }
}

.kioto-content-block__paragraph{
    line-height: 1.6;
}

.imperdible{
    padding: 1rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    line-height: 1.6;
    
    color: vars.$color-kioto-text;
    text-align: justify;
    background-color: vars.$color-imperdible;
    border-radius: 1rem;
}

.kioto-two-column-container {
    display: flex;
    flex-direction: column;
    gap: func.rem(30);
    padding-top: 2rem;
    padding-bottom: 2rem;
    
    @media (min-width: vars.$mq-desktop-width) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: func.rem(20);
        align-items: center;
        max-width: 1000px;
        margin: auto;

    }
}

.kioto-two-column-container__content{ 
    padding: 3rem; 
    margin-right: auto;
    margin-left: auto;
    font-size: func.rem(14);
    line-height: 1.6;
    text-align: justify;
     @media (min-width: vars.$mq-desktop-width) {
        max-width: func.rem(450);
        padding: 1rem;
        margin: auto; 
        text-align: justify;
    }
}

.kioto-two-col-container__image {
    align-items: center;
    width: 100%;
    max-width: 450;
    height: auto;

    border-radius: func.rem(8);
    box-shadow: 0 func.rem(4) func.rem(10) rgba(0, 0, 0, 0.15);

    @media (max-width: vars.$mq-desktop-width) { 
        //text-align: center;
        margin: auto;
    }
}
.kioto-two-col-container__map {
    max-width: 100%;
    height: auto;
    margin: auto;
    border-radius: func.rem(8);
    box-shadow: 0 func.rem(4) func.rem(10) rgba(0, 0, 0, 0.15);
    iframe { 
        width: 100%;
        height: func.rem(300); 
    }

    @media (min-width: vars.$mq-desktop-width) { 
        text-align: center; 
    }
}

.kioto-two-column-container__title{
    font-size: func.rem(24);
    font-weight: 600;
    @media (min-width: vars.$mq-desktop-width) { 
        font-size: 1.5rem; 
    }
}

.kioto-two-column-container__text{
    font-size: func.rem(32);
}

.kioto__list {
    max-width: func.rem(600);
    padding: func.rem(10);
    margin: func.rem(10) auto;
    font-size: func.rem(24);
    text-align: left;
    list-style-type: disc;
}

.kioto__orderedlist {
    max-width: func.rem(600);
    padding: func.rem(10);
    margin: func.rem(10) auto;
    text-align: left;
    list-style-type: decimal;
}

.kioto__item {
    margin-bottom: func.rem(10);
    font-size: func.rem(16);
    color: vars.$color-kioto-text;
}

.kioto-two-column-container__img-item {
  width: 100%;
  height: auto;
  border-radius: func.rem(15);
  box-shadow: 0 func.rem(4) func.rem(10) rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
   // mask: url(#soft-vignette-mask);

    &:hover {
        box-shadow: 0 func.rem(8) func.rem(16) rgba(0, 0, 0, 0.2);
        transform: translateY(func.rem(-5)) scale(1.02);
    }
}

.kioto__icon-tittle{
margin-right: func.rem(20)
}