<footer class="main-footer">
    <div class="kioto-footer__container">
        <div class = "kioto-footer__content">
            <div class="">
                <picture class="kioto-footer__logo--img">
                    <source srcset="./assets/resources/images/logokioto-alpha.png?as=webp" type="image/webp" />
                    <img src="./assets/resources/images/logokioto-alpha.png?" alt="Kioto web" class="" />
                </picture>  

                <div class="kioto-footer-brand__container--centered">
                    <p class="footer-brand__title kioto-footer__brand-text--primary">KIOTO </p>
                    <p class="kioto-footer__brand-text--secondary">Travel</p>
                </div>
                <p class="kioto-footer__text">
                    M4.257 - Eines HTML i CSS I | Herramientas HTML y CSS I
                <p class="kioto-footer__text">
                    &copy; 2025. Daniel Magro Martínez.
                </p>
            </div>
            <hr class="kioto-footer__horizontal-separator">    
            <div class="">
                <h3 class="kioto-footer__title">Navegación</h3>
                <ul class="kioto-footer__list ">
                    <li><a href="#inicio" class="kioto-footer__link">Portada</a></li>
                    <li><a href="#gion" class="kioto-footer__link">Templos</a></li>
                    <li><a href="#kiyomizudera" class="kioto-footer__link">Gastronomia</a></li>
                    <li><a href="#kinkakuji" class="kioto-footer__link">links</a></li>
                </ul>
            </div>
            <hr class="kioto-footer__horizontal-separator">  
            <div class="kioto-footer__column">
                <h3 class="kioto-footer__title">Información Legal</h3>
                <ul class="kioto-footer__list">
                    <li><a href="" class="kioto-footer__link">Aviso Legal</a></li>
                    <li><a href="" class="kioto-footer__link">Política de Privacidad</a></li>
                    <li><a href="" class="kioto-footer__link">Contacto</a></li>
                </ul>

                <div class="kioto-footer__credits">
                    <p class="kioto-footer__text-legal">
                        Iconos: 
                        <a href="https://fontawesome.com/" target="_blank" rel="noopener noreferrer" class="kioto-footer__credits-link">Font Awesome</a>.
                    </p>
                    <p class="kioto-footer__text-legal">
                        Imágenes:  
                        <a href="https://support.freepik.com/s/article/Attribution-How-when-and-where?language=es" target="_blank" rel="noopener noreferrer" class="kioto-footer__credits-link">
                            *Freepik.com* | *Creative Commons* (BY).
                        </a>
                    </p>
                </div>
            </div> 
        </div>
    </div>
</footer>