<header class="main-header">
    <nav id="main-menu" class="main-nav">
        <div class="main-nav__brand">
        <picture>
            <img src="./assets/resources/images/logokioto-alpha.png" alt="Kioto web" class="main-nav__logo" />
        </picture>
        <a href="#inicio" class="main-nav__title title__text--primary">KIOTO <p class="title__text--secondary">Travel</p></a>
        </div>
        
        <div class="main-nav__right">
            <ul class="main-nav__list">
                <li class="main-nav__item"><a href="./index.html" class="main-nav__link">PORTADA</a></li>
                <li class="main-nav__item"><a href="./categories.html" class="main-nav__link">QUE VISITAR</a></li>
                <li class="main-nav__item"><a href="./index.html" class="main-nav__link is-disabled">GASTRONOMIA</a></li>
                <li class="main-nav__item"><a href="./link.html" class="main-nav__link">LINKS</a></li>

            </ul>

            <button class="main-nav__toggle" aria-expanded="false" aria-controls="main-menu">
                <span class="fas fa-bars"></span> 
            </button>

        </div>

    </nav>

</header>