<svg id="sakura-petal-1" class="animated-svg" aria-hidden="true" fill="#ffc0cb" viewBox="0 0 100 100">
    <path d="M50 0 L80 10 C90 30 70 50 50 60 C30 50 10 30 20 10 L50 0 Z"/>
</svg>
<svg id="sakura-petal-2" class="animated-svg" aria-hidden="true" fill="#ffc0cb" viewBox="0 0 100 100">
    <path d="M50 0 L80 10 C90 30 70 50 50 60 C30 50 10 30 20 10 L50 0 Z"/>
</svg>
<svg id="sakura-petal-3" class="animated-svg" aria-hidden="true" fill="#ffc0cb" viewBox="0 0 100 100">
    <path d="M50 0 L80 10 C90 30 70 50 50 60 C30 50 10 30 20 10 L50 0 Z"/>
</svg>
<svg id="sakura-petal-4" class="animated-svg" aria-hidden="true" fill="#ffc0cb" viewBox="0 0 100 100">
    <path d="M50 0 L80 10 C90 30 70 50 50 60 C30 50 10 30 20 10 L50 0 Z"/>
</svg>
<svg id="sakura-petal-5" class="animated-svg" aria-hidden="true" fill="#ffc0cb" viewBox="0 0 100 100">
    <path d="M50 0 L80 10 C90 30 70 50 50 60 C30 50 10 30 20 10 L50 0 Z"/>
</svg>
<svg id="sakura-petal-6" class="animated-svg" aria-hidden="true" fill="#ffc0cb" viewBox="0 0 100 100">
    <path d="M50 0 L80 10 C90 30 70 50 50 60 C30 50 10 30 20 10 L50 0 Z"/>
</svg>