

/**
 * Import layouts
 */

@use "layouts/home";
@use "layouts/header";
@use "layouts/footer";
@use "layouts/links";
@use "layouts/categories";
@use "utils/utils";

 /**
 * Import Components
 */
@use "components/slider";
@use "components/ligthbox";
@use "components/animations";
  /**
 * Import dependencies
 */

@import url('https://fonts.googleapis.com/css2?family=Tsukimi+Rounded:wght@300;400;500;600;700&display=swap');